/* -------------- IMAGEN PRINCIPAL - MOBILE ------------*/

.section_welcomeImg {
    display: none;
}

.section_welcomeImg_mobile {
    text-align: center;
    background-color: #2c2c2c;
}

.mainImage {
    width: 100%;
}

/* -------------- SECCION INVITACION A REGISTRARSE  - MOBILE  ------------*/

.section_regInvite {
    padding: 3% 0 10% 0;
    margin-bottom: 0;
    text-align: center;
    background-color: white;
}

.p_regInviteTitle {
    font-size: 25px;
    padding: 1% 0;
    color: black;
    font-family: 'Unica One', cursive;
    text-align: center;
}

.p_mediumText {
    font-size: 13px;
    padding: 0 7% 3% 7%;
    letter-spacing: 1px;
    text-align: center;

}

.div_crearCuentaBtn {
    text-decoration: none;
    color: black;
    background-color: #FA3E2F;
    padding: 3%;
    border-radius: 45px;
    text-align: center;
    font-size: 14px;
}

/* -------------- SECCION VIDEOS FAVORITOS  - MOBILE  ------------*/

.section_MonthFavs {
    text-align: center;
    background-image: linear-gradient(to right, #2c2c2c, rgba(170, 170, 170, 0.79));
}


.favSectionTitle {
    color: white;
    font-size: 28px;
    padding: 10% 0 15% 0;
    letter-spacing: 2px;
    font-family: 'Unica One', cursive;
    margin-top: 0;
}

.videoSection {
    padding-bottom: 12%;
    max-width: 100vw;

}

.iframe_indexFavs {
width: 80vw;
}

.epigraph {
    color: white;
    font-size: 12px;
    padding: 3% 9%;
    letter-spacing: 1px;
}

/* -------------- SECCION NOVEDADES  - MOBILE ------------*/

.section_news {
    padding: 2% 0 5% 0;
    text-align: center;
    background-color: rgb(192, 192, 192);
}

#newsSectionTitle {
    font-size: 28px;
    padding: 8% 0 8% 0;
    letter-spacing: 2px;
    font-family: 'Unica One', cursive;
}

.leerLink a {
    color: black;

}

.leerLink {
    text-align: right;
    padding-right: 8%;
}

.newsPics {
    max-width: 90%;
}

.newsEpigraph {
    padding: 1% 5%;
    text-align: center;
    color: black;
    font-size: 12px;
}



/* -------------- MEDIA QUERY: MOBILE INTERMEDIO (1/3) ------------*/



@media (min-width: 500px) {


    /*-----  SECCION FAVORITOS - MOBILE INTERMEDIO ----*/

    .favSectionTitle {
        font-size: 36px;
        padding: 8% 0 8% 0;
    }

    .videoSection {
        padding: 0 5% 0 0;
        width: 40%;

    }

    .videosContainer {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
    }

    .iframe_indexFavs {
        width: 40vw;
    }

    .epigraph {
        font-size: 14px;
    }

    /*------ SECCION NOVEDADES - MOBILE INTERMEDIO ------*/

    #newsSectionTitle {
        font-size: 36px;
        padding: 7% 0 5% 0;
    }


    .news_flexbox {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .newsPiece {
        width: 45vw;
    }


    .newsEpigraph {
        font-size: 14px;
    }

}




@media (min-width: 1020px) {


    /* -------------- IMAGEN PRINCIPAL - DESKTOP ------------*/

    .section_welcomeImg {
        display: block;
    }

    .section_welcomeImg_mobile {
        display: none;
    }

    .mainImage {
        max-width: 100vw;
    }


    /* -------------- SECCION INVITACION A REGISTRARSE - DESKTOP ------------*/


    .section_regInvite {
        position: relative;
        margin-bottom: 0;
        padding: 2% 0 0 0;
    }

    .p_regInviteTitle {
        font-size: 26px;
        letter-spacing: 1.2px;
        padding: 2% 0 0 0;
    }

    .div_regInvFlexbox {
        display: flex;
        flex-flow: row nowrap;
    }

    .p_mediumText {
        font-size: 18px;
        padding: 3% 3% 5% 11%;
        width: 50%;
        text-align: center;

    }

    .div_crearCuentaBtn {
        color: white;
        letter-spacing: 1px;
        background-color: black;
        position: absolute;
        right: 20%;
        top: 50%;
        padding: 1.5%;
        text-align: center;
    }


    .div_crearCuentaBtn:hover {
        transition: 0.2s;
        background-color: #FA3E2F;
        color: white;
    }

    /* -------------- SECCION VIDEOS FAVORITOS - DESKTOP ------------*/

    .favSectionTitle {
        font-size: 33px;
        padding: 4% 0 5% 0;
    }

    .videosContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .videoSection {
        padding-bottom: 4%;
        width: 33%;
    }

    .iframe_indexFavs {
        width: 30vw;
    }

    .epigraph {
        font-size: 15px;
        padding: 3% 15%;
        letter-spacing: 1px;
    }

    /* -------------- SECCION NOVEDADES - DESKTOP ------------*/

    .section_news {
        padding: 0;
    }

    #newsSectionTitle {
        font-size: 33px;
        padding: 4% 0 5% 0;
    }

    .news_flexbox {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }


    .newsPiece {
        width: 22vw;
        ;

    }

    .newsPics {
        max-width: 20vw;
    }


    /* ------------- ANIMACION (desktop only) ---------- */

    /* .dancer_img {
        max-height: 150px;
    }

    .dancerAnimacion {
        display: block;
        width: 180px;
        position: fixed;
        bottom: 50px;
        right: 20px;
        animation-name: giro;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 5s;
        animation-delay: 2s;

    }

    @keyframes giro {
        0% {
            transform: rotate3d(0, 1, 0, 360deg)
        }

        80% {
            transform: rotate3d(0, 0, 0, 0)
        }

        100% {
            transform: rotate3d(0, 0, 0, 0)
        }
    } */

    #copyrightContainer {
        padding: 0 2% 2% 0;
        font-size: 14px;
    }

}