
.sectionMain_MejoresMins{
    background-image: $bgGradient;
}

.favsPageTitle{
    text-shadow: map-get($titulosDePaginas,titleShadow);
    font-size: map-get($titulosDePaginas,titleSize);
    padding: map-get($titulosDePaginas,titlePadding);
    letter-spacing: map-get($titulosDePaginas,titleLetterSpacing);
    text-align: map-get($titulosDePaginas,titleAlign);
    font-family: map-get($titulosDePaginas,titleFamily);
    color: map-get($titulosDePaginas,titleColor);
}

.favsPageSubtitle{
    font-size: map-get($subtitulosDePaginas,subTitleSize);
    padding: map-get($subtitulosDePaginas,subTitlePadding);
    letter-spacing: map-get($subtitulosDePaginas,subTitleLetterSpacing);
    text-align: map-get($subtitulosDePaginas,subTitleAlign);
    font-family: map-get($subtitulosDePaginas,subTitleFamily);
    color: map-get($subtitulosDePaginas,subTitleColor);
}