.proximasFechasSection {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    text-align: center;
    padding: 2% 20%;
    row-gap: 10px;

}

.tableHeader {
    font-size: 20px;
    font-weight: bold;
}

.value {
    border: 1px solid lightgray;
    padding: 5px 0;
}

.comingSoonPageTitle{
    text-shadow: map-get($titulosDePaginas,titleShadow);
    font-size: map-get($titulosDePaginas,titleSize);
    padding: map-get($titulosDePaginas,titlePadding);
    letter-spacing: map-get($titulosDePaginas,titleLetterSpacing);
    text-align: map-get($titulosDePaginas,titleAlign);
    font-family: map-get($titulosDePaginas,titleFamily);
    color: map-get($titulosDePaginas,titleColor);
}

.comingSoonPageSubtitle{
    font-size: map-get($subtitulosDePaginas,subTitleSize);
    padding: map-get($subtitulosDePaginas,subTitlePadding);
    letter-spacing: map-get($subtitulosDePaginas,subTitleLetterSpacing);
    text-align: map-get($subtitulosDePaginas,subTitleAlign);
    font-family: map-get($subtitulosDePaginas,subTitleFamily);
    color: map-get($subtitulosDePaginas,subTitleColor);
}

.section_comingSoonPage{
    background-image: $bgGradient;
}