// VARIABLES PAGINAS SECUNDARIAS

//BACKGROUND COLOR
$bgGradient: radial-gradient(rgb(236, 122, 122), rgb(29, 29, 29));
$bgGradient-black: radial-gradient(rgb(90, 90, 90), rgb(29, 29, 29));

//TITULO PAGINA SECUNDARIA
$titulosDePaginas: (titleShadow: #949494 2px 1px, titleSize: 36px, titlePadding: 5% 0, titleLetterSpacing: 2px, titleAlign: center, titleFamily: 'Unica One', titleColor: white);

//SUBTITULOS
$subtitulosDePaginas: (subTitleSize: 22px, subTitlePadding: 2% 0, subTitleLetterSpacing: 2px, subTitleAlign: center, subTitleFamily: 'Unica One', subTitleColor: white);



