// VARIABLES PAGINAS SECUNDARIAS

//BACKGROUND COLOR
$bgGradient: radial-gradient(rgb(236, 122, 122), rgb(29, 29, 29));

//TITULO PAGINA SECUNDARIA
$titleShadow: #949494 2px 1px;
$titleSize: 36px;
$tittlePadding: 5% 0;
$titleLetterSpacing: 2px;
$titleAlign: center;
$titleFamily: 'Unica One', cursive;
$titleColor: white;

//SUBTITULOS
$subtitleSize: 22px;
$subtittlePadding: 2% 0;
$subtitleLetterSpacing: 2px;
$subtitleAlign: center;
$subtitleColor: white;
